@font-face{ 
	font-family: 'League Gothic';
	src: url('/a/fonts/league-gothic/leaguegothic-regular-webFont.eot');
	src: url('/a/fonts/league-gothic/leaguegothic-regular-webFont.eot?#iefix') format('embedded-opentype'),
	     url('/a/fonts/league-gothic/leaguegothic-regular-webFont.woff') format('woff'),
	     url('/a/fonts/league-gothic/leaguegothic-regular-webFont.ttf') format('truetype'),
	     url('/a/fonts/league-gothic/leaguegothic-regular-webFont.svg#webfont') format('svg');
}

$header-sans: 'League Gothic';
$sans-serif: "Open Sans", Helvetica, sans-serif;
$serif: "Alegreya", Georgia, serif;

$white: #f8f8f8;
$black: #555555;
$medium-grey: #7e7e7e;
$light-grey: #bebebe;
$off-white: #e8e8e8;
$pink: #ff008a;
$blue: #0078ff;

$page-bg: white;
$text-color: $black;
$link: $blue;
$link-hover: #fc9d82;

$primary: #fd4d60;
$secondary: #fc9d82;

// Breakpoint Settings
/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

// Images
$hero-image: "/img/hero/hero-orb.png";
$free-hero-image: "/img/proj/freepeople/free-hero.jpg";

@mixin link-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9d26c1+0,e80bbf+100 */
background: #9d26c1; /* Old browsers */
background: -moz-linear-gradient(left,  #9d26c1 0%, #e80bbf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #9d26c1 0%,#e80bbf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #9d26c1 0%,#e80bbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d26c1', endColorstr='#e80bbf',GradientType=1 ); /* IE6-9 */
}