$sans-serif: "Lato", Helvetica, Arial, sans-serif;
$serif: "Merriweather", Georgia, serif;

$white: #f8f8f8;
$black: #333333;
$light-grey: #777;
$pink: #ff008a;
$blue: #0078ff;

$page-bg: white;
$text-color: $black;
$link: #c13dff;
$link-hover: #34c762;

.light {
    font-weight: 600;
    font-size: 1.125em;
    margin-bottom: .5em;
    text-transform: uppercase;
    display: inline-block;
}

// Breakpoint Settings
$mobile: 640px;
$tablet: 767px;

// Images
$hero-image: "/img/hero/hero-orb.png";