<div class="row">
		<div id="footer" class="large-8 large-offset-2 end columns">
			<div class="row">
				<div class="large-8 medium-6 small-12 columns">
					<p class="small">©2015 Anthony Nguyen</p>
				</div>
				<div class="large-4 medium-6 small-12 columns">
					<ul>
						<li>
							<a href="http://www.twitter.com/forthenguy3n" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
						</li>
						<li>
							<a href="http://www.dribbble.com/atn1988" target="_blank"><i class="fa fa-dribbble fa-lg"></i></a>
						</li>
						<li>
							<a href="https://github.com/anguyen88" target="_blank"><i class="fa fa-github fa-lg"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
