#header {
    a {
        border-bottom: none;
    }
    .page-logo {
        width: 80px;
        height: auto;
        margin: 3em 0 2.25em;
        circle {
            @include link-fade(all, 125ms, ease-in-out);
        }
        polygon {
            @include link-fade(all, 125ms, ease-in-out);
            fill: $page-bg;
        }
        &:hover {
            circle {
                fill: $link;
            }
            polygon {
                fill: $white;
            }
        }
    }
}

@media screen and (max-width: 40em) {
    #header {
        .page-logo {
            width: 60px;
            margin: 2em 0 1.25em;
        }
    }
}

.company-list {
    margin-left: 0;
    list-style: none;
    li {
        display: inline;
        a {
            border-bottom: none;
            img {
                @include link-fade(all, 250ms, ease-in-out);
                width: 106px;
                padding: 1em 0 0;
                opacity: .65;
            }
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .company-list {
        li {
            img {
                width: 90px;
                padding: 1em 1em 1em 0;
            }
        }
    }
}

@media screen and (max-width: 40em) {
    .company-list {
        li {
            img {
                width: 90px;
                padding: 1em .25em 1em 0;
            }
        }
    }
}

#footer {
    p {
        font-family: $sans-serif;
    }
    padding-top: 1.5em;
    margin-top: .75em;
    border-top: 1px solid lighten($black, 10%);
    ul {
        float: right;
        margin: 0;
        li {
            display: inline-block;
            list-style: none;
            margin-left: 1.5em;
            &:first-child {
                margin-left: 0;
            }
            a {
                border-bottom: none;
            }
        }
    }
    i.fa {
        @include link-fade(all, 250ms, ease-in-out);
        color: $link;
        text-decoration: none;
        &:hover {
            color: $link-hover;
        }
    }
}

@media screen and (max-width: 40em) {
    #footer {
        text-align: center;
        ul {
            display: block;
            float: none;
            margin: 0 auto;
            padding: 0 0 1em;
        }
    }
}

.blog-post {
    li {
        @extend p;
        margin-left: 1em;
    }
    .smaller {
        font-size: 100%;
    }
}

.project-page {
    img {
        margin: 0 auto;
        display: block;
        box-shadow: 0px 0px 14px #e6e6e6;
    }
    .no-shadow {
        box-shadow: none;
    }
}

video {
    width: 100%    !important;
    height: auto   !important;
    @media only screen and (min-width: 480px) {
        width: 65% !important;
    }
}