html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.hero-padding {
    padding: 8em 0;
    @media screen and (max-width: 39.9375em) {
        padding: 4em 0;
    }
}

.project-padding {
    padding: 3em 0 0;
    @media screen and (min-width: 40em) {
        padding: 8em 0 2em;
    }
}

#homepage-hero {
    position: relative;
    @include linear-gradient($secondary, $primary);
    &:before {
        background: {
            image: url($hero-image);
            size: cover;
            repeat: no-repeat;
            position-y: -100px;
            position-x: 5em;
            clip: content-box;
        };
        height: 100%;
        width: 900px;
        content: ' ';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        opacity: .25;
        @media screen and (max-width: 39.9375em) {
            opacity: .125;
        }
    }
    .site-logo {
        margin: 0 0 1em;
        svg {
            height: 80px;
            width: auto;
        }
    }
    #name {
        font: {
            family: $sans-serif;
            size: 40px;
            weight: 300;
        };
        color: white;
        line-height: 1;
        letter-spacing: 6px;
        margin-bottom: 12px;
        @media screen and (min-width: 40em) {
            font-size: 48px;
        }
    }
    .design-title {
        font: {
            family: $sans-serif;
            size: 12px;
            weight: 900;
        };
        color: white;
        letter-spacing: 4px;
        line-height: 1.6;
    }
    p {
        font: {
            family: $serif;
            size: 16px;
            weight: 300;
        };
        color: white;
        line-height: 1.8;
        @media screen and (min-width: 40em) {
            font: {
                size: 18px;
            };
        }
    }
    a {
        position: relative;
        display: inline-block;
        color: white;
        z-index: 0;
        border-bottom: 2px solid white;
        &:after {
            position: absolute;
            background-color: white;
            display: inline;
            content: ' ';
            height: 0;
            width: 100%;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
        &:hover {
            @include transition(all 125ms ease-in-out);
            color: $black;
            &:after {
                @include transition(all 250ms ease-in-out);
                height: 100%;
            }
        }
    }
}

.project-block {
    img.project-main-image {
        width: 75%;
        box-shadow: 0 0 8px 0 $off-white;
        margin-bottom: 1em;
        &.full {
            width: 100%;
        }
        @media screen and (min-width: 40em) {
            width: 75%;
            &.full {
                width: 100%;
            }
        }
    }
    img.project-thumb-image {
        position: absolute;
        width: 50%;
        box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.125);
        top: 150px;
        right: 0;
        margin-right: 15px;
        margin-bottom: 2em;
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            top: 100px;
        }
        @media screen and (max-width: 39.9375em) {
            top: 50px;
        }
    }
    a {
        position: relative;
        display: inline;
        color: $secondary;
        z-index: 0;
        border-bottom: 2px solid $secondary;
        &:after {
            position: absolute;
            background-color: $secondary;
            display: inline;
            content: ' ';
            height: 100%;
            width: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
        &:hover {
            @include transition(all 250ms ease-in-out);
            color: white;
            &:after {
                @include transition(all 250ms ease-in-out);
                width: 100%;
            }
        }
    }
    .project-main {
        position: relative;
    }
}

.project-title {
    font: {
        family: $sans-serif;
        size: 24px;
        weight: 300;
    };
    text-transform: uppercase;
    color: $black;
    line-height: 1.4;
    letter-spacing: 2px;
    margin-bottom: 12px;
    @media screen and (min-width: 40em) {
        font-size: 32px;
    }
}

.project-categories {
    font: {
        family: $sans-serif;
        size: 10px;
        weight: 900;
    };
    color: $medium-grey;
    letter-spacing: 4px;
    line-height: 1.6;
}

#footer {
    margin-top: 8em;
    height: 200px;
}