html {
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    height: auto;
    min-height: 100%;
    width: 100%;
    text-align: left;
}

a {
    display: inline-block;
    color: $link;
    text-decoration: none;
    font: {
        family: $sans-serif;
    };
    position: relative;
    border-bottom: none;
    padding-bottom: 2px;
    &:after {
        @include transition(all 250ms ease-in-out);
        position: absolute;
        content: '';
        bottom: 0;
        height: 1px;
        background-color: $link;
        width: 100%;
        left: 0;
    }
    &:hover {
        color: $black;
        &:after {
            width: 0;
            background-color: $black;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: $black;
    font-family: $sans-serif;
}

.homepage--wrapper {
    position: relative;
}


// // Homepage

.homepage--intro {
    font: {
        size: 64px;
        family: $sans-serif;
        weight: 900;
    };
    color: $black;
    line-height: 1.1;
    margin-bottom: 0;
    @media screen and (max-width: 39.9375em) {
        font-size: 40px;
        margin-bottom: .25em;
        margin-top: 1em;
    }
}

#homepage--body {
    h1 {
        font-size: 52px;
        font-weight: 400;
        margin: 0;
        letter-spacing: -2.5px;
        @media screen and (max-width: 39.9375em) {
            font-size: 30px;
            letter-spacing: -1.25px;
        }
    }
    p {
        color: $black;
        font: {
            family: $sans-serif;
            size: 18px;
            weight: 300;
        };
        line-height: 1.4;
        margin: 2em 0;
    }
    .tag {
        margin: 0;
        color: #919191;
        letter-spacing: -.5px;
    }
    @media screen and (max-width: 39.9375em) {
        p {
            font-size: 16px;
        }
    }
}

.social-networks {
    margin: 2em 0 0;
    li {
        display: inline-block;
        list-style: none;
        margin: 0 1.5em 0 0;
    }
    a {
        color: $black;
        i {
            @include transition(all 200ms ease-in-out);
        }
        &:after {
            width: 0;
        }
        &:hover {
            i {
                @include transform(scale(1.375));
            }
            &:after {
                width: 0;
            }
        }
    }
    @media screen and (max-width: 39.9375em) {
        margin: 3em 0 0;
    }
}