html {
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    height: auto;
    min-height: 100%;
    width: 100%;
    text-align: left;
}

.coverage {
    p, h1, h2, h3, h4, h5, h6, ul, li {
        color: $black !important;
        letter-spacing: 0;
        line-height: 1.6;
        font-weight: 500;
    }
    h3 {
        text-transform: uppercase;
    }
    p {
        font-family: $sans-serif;
        font-size: 16px;
        @media screen and (max-width: 39.9375em) {
            font-size: 14px;
        }
    }
    a {
    }
    .back-link {
        margin: 2em 0;
    }
    ul {
        margin-left: 0;
        @media screen and (max-width: 39.9375em) {
            margin-left: 1em;
        }
        li {
            p {
                margin: .125em 0;
                @media screen and (max-width: 39.9375em) {
                    margin: 0;
                }
            }
        }
    }
    .caption {
        font-family: $header-sans;
        text-transform: uppercase;
        font-size: 30px;
        margin-top: 1.5em;
        @media screen and (max-width: 39.9375em) {
                    font-size: 24px;
                }
    }
    img {
        margin-bottom: 2em;
    }
}

a {
    display: inline-block;
    // color: $link;
    @include link-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font: {
        family: $sans-serif;
    };
    position: relative;
    border-bottom: none;
    padding-bottom: 2px;
    &:after {
        @include transition(all 250ms ease-in-out);
        position: absolute;
        content: '';
        bottom: 0;
        height: 1px;
        @include link-gradient;
        background-color: $link;
        width: 100%;
        left: 0;
    }
    &:hover {
        color: $black;
        &:after {
            width: 0;
            background-color: $black;
        }
    }
}

.back-link {
    margin: 2em 0;
}

img, video {
    width: 100%;
}

video {
    margin-bottom: 2em;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: $black;
    font-family: $header-sans;
}

h1 {
    font-size: 72px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    @media screen and (max-width: 39.9375em) {
        font-size: 40px;
    }
}

.homepage--wrapper {
    position: relative;
}


// // Homepage

.homepage--intro {
    font: {
        size: 64px;
        family: $sans-serif;
        weight: 900;
    };
    color: $black;
    line-height: 1.1;
    margin-bottom: 0;
    @media screen and (max-width: 39.9375em) {
        font-size: 40px;
        margin-bottom: .25em;
        margin-top: 1em;
    }
}

#homepage--body {
    p {
        color: $black;
        font: {
            family: $sans-serif;
            size: 18px;
            weight: 300;
        };
        line-height: 1.4;
        margin: 2em 0;
    }
    .tag {
        font-weight: 800;
        font-size: 14px;
        margin: 0;
        color: #919191;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        @media screen and (max-width: 39.9375em) {
            font-size: 12px;
        }
    }
    @media screen and (max-width: 39.9375em) {
        p {
            font-size: 14px;
        }
    }
}

.social-networks {
    margin: 2em 0 0;
    li {
        display: inline-block;
        list-style: none;
        margin: 0 1.5em 0 0;
    }
    a {
        -webkit-text-fill-color: #9d26c1;
        i {
            @include transition(all 270ms ease-in-out);
        }
        &:after {
            width: 0;
        }
        &:hover {
            i {
                color: $blue;
                @include transform(scale(1.25));
            }
            &:after {
                width: 0;
            }
        }
    }
    @media screen and (max-width: 39.9375em) {
        margin: 3em 0 0;
    }
}

.work--list {
    li {
        list-style: none;
        padding: .5em 0;
    }
}

.work-landing--body {
    margin-bottom: 0;
    @media screen and (max-width: 39.9375em) {
        margin-bottom: 3em;
    }
}